/* Reset dasar */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

/* Style untuk body */
body {
    background: #F8F8FF;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh; /* Memastikan body memiliki tinggi minimal 100vh */
}

/* Header di paling atas */
header.navbar-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: white;
    position: fixed;
    top: 0;
    z-index: 999;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

header.navbar-container .Logo h1 {
   color: #282c34;
   font-size: 2rem;
}

/* header-navigation */
header.navbar-container .nav-list ul {
    display: flex;
    gap: 1rem;
    list-style: none;
}

header.navbar-container .nav-list li a {
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    color: black;
    padding: 0.5rem 1rem;
    border-radius: 999px;
    transition: background-color 0.2s;
}

header.navbar-container .nav-list li a:hover {
    background-color: black;
    color: white;
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem 2rem 2rem;
}

/* Container menggunakan Grid Layout */
.container {
    background-color: white;
    width: 800px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: center;
    margin: auto;
}

/* Style untuk gambar profil */
.image-profil {
    margin-bottom: 15px;
}

.image-profil img {
    width: 250px;
    height: 250px;
    border-radius: 50%; /* Membuat gambar profil berbentuk bulat */
    object-fit: cover;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border: 5px solid #282c34; /* Tambahkan border */
}

/* Style untuk body information */
.body-information {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding-left: 20px;
}

.data-table {
    width: 100%;
    border-collapse: collapse;
    font-size: 1.1em;
    color: #282c34;
}

.data-table th, .data-table td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.data-table th {
    /* background-color: #007991; */
    color: #282c34;
    font-weight: bold;
    text-transform: uppercase;
}

.data-table td {
    background-color: #f9f9f9;
}

/* Footer di bagian bawah */
footer {
    background-color: #282c34;
    color: white;
    text-align: center;
    padding: 30px 0;
    width: 100%;
    margin-top: auto; /* Agar footer tetap di bagian bawah halaman */
}

footer .description h2 {
    margin-bottom: 20px;
    font-size: 1.5em;
    color: white;
    text-transform: uppercase;
}

/* Flexbox untuk media sosial */
.social-media {
    display: flex;
    justify-content: center;
    gap: 30px;
}

/* Style untuk ikon media sosial */
.social-media a {
    color: white;
    font-size: 2em;
    text-decoration: none;
    transition: transform 0.3s, color 0.3s;
}

.social-media a:hover {
    color: #1E90FF;
    transform: scale(1.2); /* Efek hover memperbesar ikon */
}

/* Responsif untuk layar lebih kecil */
@media (max-width: 768px) {
    .container {
        grid-template-columns: 1fr;
        padding: 20px;
    }

    .image-profil img {
        width: 200px;
        height: 200px;
    }

    header {
        font-size: 2em;
    }

    .data-table th, .data-table td {
        font-size: 1em;
    }

    .social-media {
        gap: 15px;
    }
}
